* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

.App {
  margin: auto;
  max-width: 30rem;
  grid-template-rows: 1fr min-content;
  display: grid;
  height: calc((var(--vh) * 100));
  padding: 0.25rem;
}
ul {
  max-height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
  grid-template-rows: auto;
  overflow-y: scroll;
  align-items: flex-start;
}
li {
  height: min-content;
  max-width: 80%;
  background: rgba(6, 110, 186, 0.2);
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
}
.self {
  border-radius: 0.9rem 0.9rem 0.9rem 0;
  margin-left: 0;
}
.other {
  border-radius: 0.9rem 0.9rem 0 0.9rem;
  margin-right: 0;
}
form {
  display: flex;
}
input {
  padding: 0.5rem;
  flex: 1;
}
